body {
    background-color: #edd8c4;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.shop {
    border-style: solid;
    border-color:#3a2613;
    border-width: 6px;
    text-align: center;
    margin: .2em 1em .2em 0em;
    padding: .2em .2em;
    height: 150px;
    width: 275px;
    font-family: 'Dosis', sans-serif;
    color:#3a2613;
    font-size: 1.4em;
    border-radius: 15px 50px 30px;
}   

strong {
    font-size: 2em;
    font-weight: bold;
}

.pageHeader {
    text-align: center;
    margin: .5em;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: #edd8c4;
    border-color: #3a2613;
    border-radius: 30px;
    padding: .2em;
    background-color: #3a2613;

}

a:hover {
    color: #00cc99;
    text-decoration: none;
  }

a {
    text-decoration: none;
    color: brown;
    font-size: .8em;
    text-align: right;
}